asgiref==3.3.4
awscli==1.19.99
boto3==1.17.99
botocore==1.20.99
colorama==0.4.3
Django==3.2.4
dockerfile==3.1.0
docutils==0.15.2
jmespath==0.10.0
mysql-connector==2.2.9
mysqlclient==2.0.3
pyasn1==0.4.8
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
rsa==4.7.2
s3transfer==0.4.2
six==1.16.0
sqlparse==0.4.1
urllib3==1.26.5
